In [1]:
!pip install mlxtend

Collecting mlxtend
  Using cached mlxtend-0.23.1-py3-none-any.whl.metadata (7.3 kB)
Requirement already satisfied: scipy>=1.2.1 in c:\users\hp\anaconda3\lib\site-packages (from mlxtend) (1.13.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\hp\anaconda3\lib\site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in c:\users\hp\anaconda3\lib\site-packages (from mlxtend) (2.2.2)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\hp\anaconda3\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\hp\anaconda3\lib\site-packages (from mlxtend) (3.8.4)
Requirement already satisfied: joblib>=0.13.2 in c:\users\hp\anaconda3\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Using cached mlxtend-0.23.1-py3-none-any.whl (1.4 MB)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.23.1

In [3]:
import mlxtend
import pandas as pd 
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder

In [4]:
titanic =pd.read_csv("Titanic.csv")

In [4]:
titanic.head(2)

  Class Gender    Age Survived
0   3rd   Male  Child       No
1   3rd   Male  Child       No

In [7]:
titanic['Class'].value_counts()

Class
Crew    885
3rd     706
1st     325
2nd     285
Name: count, dtype: int64

In [8]:
titanic['Gender'].value_counts()

Gender
Male      1731
Female     470
Name: count, dtype: int64

In [9]:
titanic['Age'].value_counts()

Age
Adult    2092
Child     109
Name: count, dtype: int64

In [10]:
titanic['Survived'].value_counts()

Survived
No     1490
Yes     711
Name: count, dtype: int64

# pre processing

In [11]:
df =pd.get_dummies(titanic)
df.head()

   Class_1st  Class_2nd  Class_3rd  Class_Crew  ...  Age_Adult  Age_Child  Survived_No  Survived_Yes
0      False      False       True       False  ...      False       True         True         False
1      False      False       True       False  ...      False       True         True         False
2      False      False       True       False  ...      False       True         True         False
3      False      False       True       False  ...      False       True         True         False
4      False      False       True       False  ...      False       True         True         False

[5 rows x 10 columns]

# Apriori algorithm

In [13]:
frquent_itemset =apriori(df,min_support=0.1,use_colnames =True)
frquent_itemset
#use _colnames this uses column names in our datasets

     support                                           itemsets
0   0.147660                                        (Class_1st)
1   0.129487                                        (Class_2nd)
2   0.320763                                        (Class_3rd)
3   0.402090                                       (Class_Crew)
4   0.213539                                    (Gender_Female)
5   0.786461                                      (Gender_Male)
6   0.950477                                        (Age_Adult)
7   0.676965                                      (Survived_No)
8   0.323035                                     (Survived_Yes)
9   0.144934                             (Class_1st, Age_Adult)
10  0.118582                             (Age_Adult, Class_2nd)
11  0.231713                           (Class_3rd, Gender_Male)
12  0.284871                             (Class_3rd, Age_Adult)
13  0.239891                           (Class_3rd, Survived_No)
14  0.391640                          (Class_Crew, Gender_Male)
15  0.402090                            (Class_Crew, Age_Adult)
16  0.305770                          (Class_Crew, Survived_No)
17  0.193094                         (Gender_Female, Age_Adult)
18  0.156293                      (Gender_Female, Survived_Yes)
19  0.757383                           (Gender_Male, Age_Adult)
20  0.619718                         (Survived_No, Gender_Male)
21  0.166742                        (Gender_Male, Survived_Yes)
22  0.653339                           (Survived_No, Age_Adult)
23  0.297138                          (Age_Adult, Survived_Yes)
24  0.209905                (Class_3rd, Gender_Male, Age_Adult)
25  0.191731              (Class_3rd, Survived_No, Gender_Male)
26  0.216265                (Class_3rd, Survived_No, Age_Adult)
27  0.391640               (Class_Crew, Gender_Male, Age_Adult)
28  0.304407             (Class_Crew, Survived_No, Gender_Male)
29  0.305770               (Class_Crew, Survived_No, Age_Adult)
30  0.143571           (Gender_Female, Age_Adult, Survived_Yes)
31  0.603816              (Survived_No, Gender_Male, Age_Adult)
32  0.153567             (Gender_Male, Age_Adult, Survived_Yes)
33  0.175829   (Class_3rd, Survived_No, Gender_Male, Age_Adult)
34  0.304407  (Class_Crew, Survived_No, Gender_Male, Age_Adult)

In [18]:
rules =association_rules(frquent_itemset,metric ='lift',min_threshold =0.7)
rules.sort_values('lift',ascending =False)[0:20]
# according the lift ration it makes the rules in descending order 
# min_threshold is the confidence 
#[0:20] is the we  need only 20 records

                               antecedents                            consequents  ...  conviction  zhangs_metric
64              (Gender_Female, Age_Adult)                         (Survived_Yes)  ...    2.639542       0.700873
69                          (Survived_Yes)             (Gender_Female, Age_Adult)  ...    1.452431       0.835403
18                         (Gender_Female)                         (Survived_Yes)  ...    2.525187       0.710327
19                          (Survived_Yes)                        (Gender_Female)  ...    1.523634       0.825219
66               (Age_Adult, Survived_Yes)                        (Gender_Female)  ...    1.521732       0.793974
67                         (Gender_Female)              (Age_Adult, Survived_Yes)  ...    2.145099       0.709577
101               (Gender_Male, Age_Adult)              (Class_Crew, Survived_No)  ...    1.160764       0.986022
96               (Class_Crew, Survived_No)               (Gender_Male, Age_Adult)  ...   54.427079       0.344592
49                            (Class_Crew)               (Gender_Male, Age_Adult)  ...    9.335480       0.371976
48                (Gender_Male, Age_Adult)                           (Class_Crew)  ...    1.238157       0.916706
93    (Class_Crew, Survived_No, Age_Adult)                          (Gender_Male)  ...   47.903983       0.302519
57                           (Gender_Male)              (Class_Crew, Survived_No)  ...    1.132622       0.983509
104                          (Gender_Male)   (Class_Crew, Survived_No, Age_Adult)  ...    1.132622       0.983509
52               (Class_Crew, Survived_No)                          (Gender_Male)  ...   47.903983       0.302519
102                           (Class_Crew)  (Survived_No, Gender_Male, Age_Adult)  ...    1.630802       0.338549
95   (Survived_No, Gender_Male, Age_Adult)                           (Class_Crew)  ...    1.205800       0.510929
50                           (Gender_Male)                (Class_Crew, Age_Adult)  ...    1.191004       0.901730
11                           (Gender_Male)                           (Class_Crew)  ...    1.191004       0.901730
47                 (Class_Crew, Age_Adult)                          (Gender_Male)  ...    8.216621       0.322047
10                            (Class_Crew)                          (Gender_Male)  ...    8.216621       0.322047

[20 rows x 10 columns]

In [19]:
rules[rules.lift>1]

                  antecedents                             consequents  ...  conviction  zhangs_metric
0                 (Class_1st)                             (Age_Adult)  ...    2.682493       0.037128
1                 (Age_Adult)                             (Class_1st)  ...    1.005694       0.639010
8                 (Class_3rd)                           (Survived_No)  ...    1.281251       0.139592
9               (Survived_No)                             (Class_3rd)  ...    1.052040       0.293515
10               (Class_Crew)                           (Gender_Male)  ...    8.216621       0.322047
..                        ...                                     ...  ...         ...            ...
101  (Gender_Male, Age_Adult)               (Class_Crew, Survived_No)  ...    1.160764       0.986022
102              (Class_Crew)   (Survived_No, Gender_Male, Age_Adult)  ...    1.630802       0.338549
103             (Survived_No)    (Class_Crew, Gender_Male, Age_Adult)  ...    1.105434       0.399458
104             (Gender_Male)    (Class_Crew, Survived_No, Age_Adult)  ...    1.132622       0.983509
105               (Age_Adult)  (Class_Crew, Survived_No, Gender_Male)  ...    1.023334       1.000000

[74 rows x 10 columns]

In [20]:
rules[rules.confidence>0.7]

                                antecedents                            consequents  ...  conviction  zhangs_metric
0                               (Class_1st)                            (Age_Adult)  ...    2.682493       0.037128
3                               (Class_2nd)                            (Age_Adult)  ...    0.588085      -0.041697
4                               (Class_3rd)                          (Gender_Male)  ...    0.769177      -0.115514
6                               (Class_3rd)                            (Age_Adult)  ...    0.442572      -0.093712
8                               (Class_3rd)                          (Survived_No)  ...    1.281251       0.139592
10                             (Class_Crew)                          (Gender_Male)  ...    8.216621       0.322047
12                             (Class_Crew)                            (Age_Adult)  ...         inf       0.082827
14                             (Class_Crew)                          (Survived_No)  ...    1.348519       0.183616
16                          (Gender_Female)                            (Age_Adult)  ...    0.517240      -0.061028
18                          (Gender_Female)                         (Survived_Yes)  ...    2.525187       0.710327
20                            (Gender_Male)                            (Age_Adult)  ...    1.339441       0.061028
21                              (Age_Adult)                          (Gender_Male)  ...    1.051116       0.263149
22                            (Survived_No)                          (Gender_Male)  ...    2.525187       0.436144
23                            (Gender_Male)                          (Survived_No)  ...    1.523634       0.659783
24                            (Survived_No)                            (Age_Adult)  ...    1.419023       0.046906
27                           (Survived_Yes)                            (Age_Adult)  ...    0.617734      -0.046906
28                 (Class_3rd, Gender_Male)                            (Age_Adult)  ...    0.526181      -0.060217
29                   (Class_3rd, Age_Adult)                          (Gender_Male)  ...    0.811449      -0.086060
34                 (Class_3rd, Survived_No)                          (Gender_Male)  ...    1.063667       0.021039
35                 (Class_3rd, Gender_Male)                          (Survived_No)  ...    1.872135       0.236717
40                 (Class_3rd, Survived_No)                            (Age_Adult)  ...    0.502848      -0.066686
41                   (Class_3rd, Age_Adult)                          (Survived_No)  ...    1.341344       0.151418
46                (Class_Crew, Gender_Male)                            (Age_Adult)  ...         inf       0.081404
47                  (Class_Crew, Age_Adult)                          (Gender_Male)  ...    8.216621       0.322047
49                             (Class_Crew)               (Gender_Male, Age_Adult)  ...    9.335480       0.371976
52                (Class_Crew, Survived_No)                          (Gender_Male)  ...   47.903983       0.302519
53                (Class_Crew, Gender_Male)                          (Survived_No)  ...    1.450292       0.212110
55                             (Class_Crew)             (Survived_No, Gender_Male)  ...    1.565346       0.303418
58                (Class_Crew, Survived_No)                            (Age_Adult)  ...         inf       0.071335
59                  (Class_Crew, Age_Adult)                          (Survived_No)  ...    1.348519       0.183616
61                             (Class_Crew)               (Survived_No, Age_Adult)  ...    1.447145       0.235577
64               (Gender_Female, Age_Adult)                         (Survived_Yes)  ...    2.639542       0.700873
65            (Gender_Female, Survived_Yes)                            (Age_Adult)  ...    0.608425      -0.039500
70               (Survived_No, Gender_Male)                            (Age_Adult)  ...    1.929980       0.064404
71                 (Survived_No, Age_Adult)                          (Gender_Male)  ...    2.817152       0.429921
72                 (Gender_Male, Age_Adult)                          (Survived_No)  ...    1.593193       0.621823
73                            (Survived_No)               (Gender_Male, Age_Adult)  ...    2.245337       0.467023
74                            (Gender_Male)               (Survived_No, Age_Adult)  ...    1.492710       0.697935
76              (Gender_Male, Survived_Yes)                            (Age_Adult)  ...    0.626721      -0.037013
78    (Class_3rd, Survived_No, Gender_Male)                            (Age_Adult)  ...    0.597105      -0.043136
79      (Class_3rd, Survived_No, Age_Adult)                          (Gender_Male)  ...    1.142075       0.041690
80      (Class_3rd, Gender_Male, Age_Adult)                          (Survived_No)  ...    1.989896       0.242806
82                 (Class_3rd, Survived_No)               (Gender_Male, Age_Adult)  ...    0.908523      -0.042006
83                 (Class_3rd, Gender_Male)               (Survived_No, Age_Adult)  ...    1.437373       0.180935
92   (Class_Crew, Survived_No, Gender_Male)                            (Age_Adult)  ...         inf       0.071195
93     (Class_Crew, Survived_No, Age_Adult)                          (Gender_Male)  ...   47.903983       0.302519
94     (Class_Crew, Gender_Male, Age_Adult)                          (Survived_No)  ...    1.450292       0.212110
96                (Class_Crew, Survived_No)               (Gender_Male, Age_Adult)  ...   54.427079       0.344592
97                (Class_Crew, Gender_Male)               (Survived_No, Age_Adult)  ...    1.556362       0.262074
98                  (Class_Crew, Age_Adult)             (Survived_No, Gender_Male)  ...    1.565346       0.303418
102                            (Class_Crew)  (Survived_No, Gender_Male, Age_Adult)  ...    1.630802       0.338549

[51 rows x 10 columns]

In [24]:
df = pd.read_csv("retail_dataset.csv")

In [25]:
df.head(2)

       0       1     2       3       4       5       6
0  Bread    Wine  Eggs    Meat  Cheese  Pencil  Diaper
1  Bread  Cheese  Meat  Diaper    Wine    Milk  Pencil

In [33]:
df["0"].value_counts()

0
Bread     74
Cheese    56
Diaper    34
Meat      32
Bagel     31
Pencil    26
Eggs      24
Wine      23
Milk      15
Name: count, dtype: int64

In [35]:
new_df =pd.get_dummies(df)
new_df

     0_Bagel  0_Bread  0_Cheese  0_Diaper  0_Eggs  0_Meat  ...  6_Diaper  6_Eggs  6_Meat  6_Milk  6_Pencil  6_Wine
0      False     True     False     False   False   False  ...      True   False   False   False     False   False
1      False     True     False     False   False   False  ...     False   False   False   False      True   False
2      False    False      True     False   False   False  ...     False   False   False   False     False   False
3      False    False      True     False   False   False  ...     False   False   False   False     False   False
4      False    False     False     False   False    True  ...     False   False   False   False     False   False
..       ...      ...       ...       ...     ...     ...  ...       ...     ...     ...     ...       ...     ...
310    False     True     False     False   False   False  ...     False   False   False   False     False   False
311    False    False     False     False   False    True  ...     False   False   False   False     False   False
312    False     True     False     False   False   False  ...     False   False   False   False     False    True
313    False    False     False     False   False    True  ...     False   False   False   False     False   False
314    False    False     False     False    True   False  ...     False   False   False   False     False   False

[315 rows x 63 columns]

In [37]:
df.isna()

         0      1      2      3      4      5      6
0    False  False  False  False  False  False  False
1    False  False  False  False  False  False  False
2    False  False  False  False  False   True   True
3    False  False  False  False  False   True   True
4    False  False  False   True   True   True   True
..     ...    ...    ...    ...    ...    ...    ...
310  False  False  False   True   True   True   True
311  False  False  False   True   True   True   True
312  False  False  False  False  False  False  False
313  False  False   True   True   True   True   True
314  False  False  False  False  False   True   True

[315 rows x 7 columns]

In [38]:
df.dropna()

          0       1       2       3       4       5       6
0     Bread    Wine    Eggs    Meat  Cheese  Pencil  Diaper
1     Bread  Cheese    Meat  Diaper    Wine    Milk  Pencil
5      Eggs   Bread    Wine  Pencil    Milk  Diaper   Bagel
9     Bagel    Wine  Diaper    Meat  Pencil    Eggs  Cheese
11    Bagel    Eggs    Meat   Bread  Diaper    Wine    Milk
21   Cheese    Eggs    Wine   Bread    Milk  Pencil    Meat
27   Diaper    Meat   Bread  Pencil    Wine  Cheese    Milk
42     Eggs    Wine    Milk  Cheese  Pencil   Bagel   Bread
45   Diaper   Bread   Bagel    Eggs    Wine    Milk  Cheese
56   Cheese    Eggs    Meat  Diaper    Wine    Milk   Bread
59     Wine  Cheese   Bagel  Pencil   Bread    Meat  Diaper
76    Bread    Wine    Eggs   Bagel  Cheese  Pencil  Diaper
89     Milk  Cheese    Wine   Bagel    Meat  Pencil   Bread
93   Cheese  Diaper  Pencil   Bagel    Wine    Meat    Eggs
94     Eggs    Meat    Wine   Bagel    Milk  Cheese  Diaper
107   Bagel   Bread    Eggs    Milk  Pencil    Meat    Wine
108    Milk  Cheese    Wine    Meat   Bagel  Diaper   Bread
115   Bread  Cheese    Eggs    Meat  Pencil  Diaper    Wine
122   Bread    Meat    Milk  Cheese    Wine    Eggs  Pencil
126  Cheese  Pencil    Meat    Eggs    Milk   Bagel    Wine
138    Milk    Eggs    Meat  Cheese   Bread    Wine  Pencil
150   Bread    Eggs   Bagel  Diaper    Milk    Meat  Pencil
152  Cheese    Eggs    Meat    Wine   Bagel  Diaper   Bread
175    Eggs   Bagel    Meat  Diaper  Pencil    Milk   Bread
182   Bagel  Cheese    Eggs    Milk    Meat  Pencil   Bread
197   Bread    Meat  Pencil    Eggs  Cheese    Milk    Wine
206   Bagel    Wine  Diaper    Meat  Pencil    Eggs  Cheese
208   Bagel    Eggs    Meat   Bread  Diaper    Wine    Milk
218  Cheese    Eggs    Wine   Bread    Milk  Pencil    Meat
224  Diaper    Meat   Bread  Pencil    Wine  Cheese    Milk
239    Eggs    Wine    Milk  Cheese  Pencil   Bagel   Bread
242  Diaper   Bread   Bagel    Eggs    Wine    Milk  Cheese
253  Cheese    Eggs    Meat  Diaper    Wine    Milk   Bread
256    Wine  Cheese   Bagel  Pencil   Bread    Meat  Diaper
273   Bread    Wine    Eggs   Bagel  Cheese  Pencil  Diaper
286    Milk  Cheese    Wine   Bagel    Meat  Pencil   Bread
290  Cheese  Diaper  Pencil   Bagel    Wine    Meat    Eggs
291    Eggs    Meat    Wine   Bagel    Milk  Cheese  Diaper
304   Bagel   Bread    Eggs    Milk  Pencil    Meat    Wine
305    Milk  Cheese    Wine    Meat   Bagel  Diaper   Bread
312   Bread  Cheese    Eggs    Meat  Pencil  Diaper    Wine

In [39]:
new_df1 =pd.get_dummies(df)
new_df1

     0_Bagel  0_Bread  0_Cheese  0_Diaper  0_Eggs  0_Meat  ...  6_Diaper  6_Eggs  6_Meat  6_Milk  6_Pencil  6_Wine
0      False     True     False     False   False   False  ...      True   False   False   False     False   False
1      False     True     False     False   False   False  ...     False   False   False   False      True   False
2      False    False      True     False   False   False  ...     False   False   False   False     False   False
3      False    False      True     False   False   False  ...     False   False   False   False     False   False
4      False    False     False     False   False    True  ...     False   False   False   False     False   False
..       ...      ...       ...       ...     ...     ...  ...       ...     ...     ...     ...       ...     ...
310    False     True     False     False   False   False  ...     False   False   False   False     False   False
311    False    False     False     False   False    True  ...     False   False   False   False     False   False
312    False     True     False     False   False   False  ...     False   False   False   False     False    True
313    False    False     False     False   False    True  ...     False   False   False   False     False   False
314    False    False     False     False    True   False  ...     False   False   False   False     False   False

[315 rows x 63 columns]

In [49]:
freq_items =apriori(new_df1,min_support=0.1,use_colnames =True)
freq_items

     support                    itemsets
0   0.234921                   (0_Bread)
1   0.177778                  (0_Cheese)
2   0.107937                  (0_Diaper)
3   0.101587                    (0_Meat)
4   0.149206                   (1_Bagel)
5   0.111111                  (1_Cheese)
6   0.149206                    (1_Meat)
7   0.165079                    (2_Eggs)
8   0.142857                    (2_Milk)
9   0.142857                    (3_Milk)
10  0.114286                    (4_Wine)
11  0.104762           (2_Milk, 0_Bread)
12  0.101587          (2_Eggs, 0_Cheese)
13  0.101587          (3_Milk, 0_Cheese)
14  0.104762            (1_Meat, 3_Milk)
15  0.111111            (2_Eggs, 3_Milk)
16  0.101587  (2_Eggs, 3_Milk, 0_Cheese)

In [52]:
rules =association_rules(freq_items,metric ='lift',min_threshold =0.7)
rules.sort_values('lift',ascending =False)[0:20]

           antecedents         consequents  antecedent support  ...  leverage  conviction  zhangs_metric
11  (2_Eggs, 0_Cheese)            (3_Milk)            0.101587  ...  0.087075         inf       0.954064
14            (3_Milk)  (2_Eggs, 0_Cheese)            0.142857  ...  0.087075    3.109890       1.000000
13            (2_Eggs)  (3_Milk, 0_Cheese)            0.165079  ...  0.084817    2.335873       1.000000
12  (3_Milk, 0_Cheese)            (2_Eggs)            0.101587  ...  0.084817         inf       0.929329
10    (2_Eggs, 3_Milk)          (0_Cheese)            0.111111  ...  0.081834    9.592593       0.906250
15          (0_Cheese)    (2_Eggs, 3_Milk)            0.177778  ...  0.081834    2.074074       0.979730
6             (1_Meat)            (3_Milk)            0.149206  ...  0.083447    2.877551       0.936228
7             (3_Milk)            (1_Meat)            0.142857  ...  0.083447    3.190476       0.929293
8             (2_Eggs)            (3_Milk)            0.165079  ...  0.087528    2.621849       0.943509
9             (3_Milk)            (2_Eggs)            0.142857  ...  0.087528    3.757143       0.919048
4             (3_Milk)          (0_Cheese)            0.142857  ...  0.076190    2.846154       0.875000
5           (0_Cheese)            (3_Milk)            0.177778  ...  0.076190    2.000000       0.912162
2             (2_Eggs)          (0_Cheese)            0.165079  ...  0.072240    2.137778       0.851711
3           (0_Cheese)            (2_Eggs)            0.177778  ...  0.072240    1.948148       0.864865
0             (2_Milk)           (0_Bread)            0.142857  ...  0.071202    2.869048       0.792929
1            (0_Bread)            (2_Milk)            0.234921  ...  0.071202    1.547038       0.888344

[16 rows x 10 columns]

In [56]:
rules =association_rules(freq_items ,metric ='lift',min_threshold =0.7)
rules.sort_values('lift',ascending =False)[0:]

           antecedents         consequents  antecedent support  ...  leverage  conviction  zhangs_metric
11  (2_Eggs, 0_Cheese)            (3_Milk)            0.101587  ...  0.087075         inf       0.954064
14            (3_Milk)  (2_Eggs, 0_Cheese)            0.142857  ...  0.087075    3.109890       1.000000
13            (2_Eggs)  (3_Milk, 0_Cheese)            0.165079  ...  0.084817    2.335873       1.000000
12  (3_Milk, 0_Cheese)            (2_Eggs)            0.101587  ...  0.084817         inf       0.929329
10    (2_Eggs, 3_Milk)          (0_Cheese)            0.111111  ...  0.081834    9.592593       0.906250
15          (0_Cheese)    (2_Eggs, 3_Milk)            0.177778  ...  0.081834    2.074074       0.979730
6             (1_Meat)            (3_Milk)            0.149206  ...  0.083447    2.877551       0.936228
7             (3_Milk)            (1_Meat)            0.142857  ...  0.083447    3.190476       0.929293
8             (2_Eggs)            (3_Milk)            0.165079  ...  0.087528    2.621849       0.943509
9             (3_Milk)            (2_Eggs)            0.142857  ...  0.087528    3.757143       0.919048
4             (3_Milk)          (0_Cheese)            0.142857  ...  0.076190    2.846154       0.875000
5           (0_Cheese)            (3_Milk)            0.177778  ...  0.076190    2.000000       0.912162
2             (2_Eggs)          (0_Cheese)            0.165079  ...  0.072240    2.137778       0.851711
3           (0_Cheese)            (2_Eggs)            0.177778  ...  0.072240    1.948148       0.864865
0             (2_Milk)           (0_Bread)            0.142857  ...  0.071202    2.869048       0.792929
1            (0_Bread)            (2_Milk)            0.234921  ...  0.071202    1.547038       0.888344

[16 rows x 10 columns]

In [1]:
# let see hows the transcation encoder works

In [5]:
array = titanic.values

In [6]:
array

array([['3rd', 'Male', 'Child', 'No'],
       ['3rd', 'Male', 'Child', 'No'],
       ['3rd', 'Male', 'Child', 'No'],
       ...,
       ['Crew', 'Female', 'Adult', 'Yes'],
       ['Crew', 'Female', 'Adult', 'Yes'],
       ['Crew', 'Female', 'Adult', 'Yes']], dtype=object)

In [9]:
encoder = TransactionEncoder()
onehot =encoder.fit_transform(array)
onehot_df =pd.DataFrame(onehot,columns = encoder.columns_)

In [10]:
onehot_df

        1st    2nd    3rd  Adult  Child   Crew  Female   Male     No    Yes
0     False  False   True  False   True  False   False   True   True  False
1     False  False   True  False   True  False   False   True   True  False
2     False  False   True  False   True  False   False   True   True  False
3     False  False   True  False   True  False   False   True   True  False
4     False  False   True  False   True  False   False   True   True  False
...     ...    ...    ...    ...    ...    ...     ...    ...    ...    ...
2196  False  False  False   True  False   True    True  False  False   True
2197  False  False  False   True  False   True    True  False  False   True
2198  False  False  False   True  False   True    True  False  False   True
2199  False  False  False   True  False   True    True  False  False   True
2200  False  False  False   True  False   True    True  False  False   True

[2201 rows x 10 columns]